[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-restful = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"
cloudinary = "*"
pyotp = "*"
sqlalchemy-serializer = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
